# Assignment1
## BAN200ZAA
### Group 3
#### Group Members:
##### Sukanya Mukherjee, James Zhai, Chin Hooi Yap, Matt Nakamura

In [1]:
# Sukanya Mukherjee

# isalnum()	Returns True if all characters in the string are alphanumeric
txt1 = "Group3"
txt2 = "Group 3"
x = txt1.isalnum()
y = txt2.isalnum()
print(x)
print(y)

True
False

In [12]:
# isalpha()	Returns True if all characters in the string are in the alphabet
txt1 = "Group"
txt2 = "Group 3"
x = txt1.isalpha()
y = txt2.isalpha()
print(x)
print(y)

True
False

In [15]:
# isdecimal()	Returns True if all characters in the string are decimals (use unicode)
txt1 = "\u0033"
txt2 = "Group.3"
x = txt1.isdecimal()
y = txt2.isdecimal()
print(x)
print(y)

True
False

In [23]:
# isdigit()	Returns True if all characters in the string are digits
txt1 = "12345"
txt2 = "Group3"
x = txt1.isdigit()
y = txt2.isdigit()
print(x)
print(y)

True
False

In [24]:
# isidentifier()	Returns True if the string is an identifier
txt1 = "Class"
txt2 = "Group.3"
x = txt1.isidentifier()
y = txt2.isidentifier()
print(x)
print(y)

True
False

In [25]:
# isnumeric()	Returns True if all characters in the string are numeric
txt1 = "12345"
txt2 = "Group3"
x = txt1.isnumeric()
y = txt2.isnumeric()
print(x)
print(y)

True
False

In [27]:
# isprintable()	Returns True if all characters in the string are printable
txt1 = "Group3"
txt2 = "Group\n3"
x = txt1.isprintable()
y = txt2.isprintable()
print(x)
print(y)

True
False

In [28]:
# isspace()	Returns True if all characters in the string are whitespaces
txt1 = " "
txt2 = "Group3"
x = txt1.isspace()
y = txt2.isspace()
print(x)
print(y)

True
False

In [30]:
# istitle()	Returns True if the string follows the rules of a title
txt1 = "Group3!! "
txt2 = "12345"
x = txt1.istitle()
y = txt2.istitle()
print(x)
print(y)

True
False