In [1]:
import nltk
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from nltk import tokenize

In [8]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [9]:
cv = CountVectorizer()

In [10]:
corpus = "AND IT'S GO GO GO! OFF OFF OFF! THAT WAS A MEGA MEGA MEGA MOVE. OOOHHH!!! IT'S TARQUINI ! i'm going for first he says."

In [15]:
y= corpus.lower()

In [16]:
sentences = tokenize.sent_tokenize(y)

In [17]:
sentences

["and it's go go go!",
 'off off off!',
 'that was a mega mega mega move.',
 'ooohhh!!!',
 "it's tarquini !",
 "i'm going for first he says."]

In [18]:
X = cv.fit(sentences)

In [19]:
print(X.vocabulary_)

{'and': 0, 'it': 6, 'go': 3, 'off': 9, 'that': 13, 'was': 14, 'mega': 7, 'move': 8, 'ooohhh': 10, 'tarquini': 12, 'going': 4, 'for': 2, 'first': 1, 'he': 5, 'says': 11}

In [21]:
print(X.get_feature_names())

['and', 'first', 'for', 'go', 'going', 'he', 'it', 'mega', 'move', 'off', 'ooohhh', 'says', 'tarquini', 'that', 'was']

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [22]:
X=cv.transform(sentences)

In [23]:
X.shape

(6, 15)

In [24]:
print(X.toarray())

[[1 0 0 3 0 0 1 0 0 0 0 0 0 0 0]
 [0 0 0 0 0 0 0 0 0 3 0 0 0 0 0]
 [0 0 0 0 0 0 0 3 1 0 0 0 0 1 1]
 [0 0 0 0 0 0 0 0 0 0 1 0 0 0 0]
 [0 0 0 0 0 0 1 0 0 0 0 0 1 0 0]
 [0 1 1 0 1 1 0 0 0 0 0 1 0 0 0]]

In [25]:
print(X)

  (0, 0)	1
  (0, 3)	3
  (0, 6)	1
  (1, 9)	3
  (2, 7)	3
  (2, 8)	1
  (2, 13)	1
  (2, 14)	1
  (3, 10)	1
  (4, 6)	1
  (4, 12)	1
  (5, 1)	1
  (5, 2)	1
  (5, 4)	1
  (5, 5)	1
  (5, 11)	1

In [28]:
df=pd.DataFrame(X.toarray(), columns = cv.get_feature_names())

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [29]:
df

   and  first  for  go  going  he  ...  off  ooohhh  says  tarquini  that  was
0    1      0    0   3      0   0  ...    0       0     0         0     0    0
1    0      0    0   0      0   0  ...    3       0     0         0     0    0
2    0      0    0   0      0   0  ...    0       0     0         0     1    1
3    0      0    0   0      0   0  ...    0       1     0         0     0    0
4    0      0    0   0      0   0  ...    0       0     0         1     0    0
5    0      1    1   0      1   1  ...    0       0     1         0     0    0

[6 rows x 15 columns]

###This is a DTM or Document term Matrix